@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao|Nunito&display=swap');
/* 
font-family: 'Liu Jian Mao Cao', cursive;
font-family: 'Nunito', sans-serif;
*/
body{
    font-family: 'Nunito', sans-serif;
}
.modalSubText{
    font-size: .75rem;
}
/* #bestFitModalLabel{
    text-align: center;
} */
.centerText{
    text-align: center;
}
#resultsSubCon, .resultHead{
    text-align: center;
    font-size: 2.5rem;
}
.resultsHeaderText{
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Nunito', sans-serif;

}
#bestFitModalLabel{
    font-family: 'Liu Jian Mao Cao', cursive;  
}